<button  (click)="openModal(template)" class="btn btn-light"><i class="fa me-2 fa-comment"></i>{{count}}</button>
<ng-template #template>

   

   
  <div class="modal-header">
    <h4 class="modal-title pull-left">Comments ({{count}})</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
    

    <div class="modal-body">
    <textarea
      [(ngModel)]="textContent"
      maxlength="150"
      rows="3"
      class="form-control resize-none"
      placeholder="Add new Comment"
    ></textarea>
    <div class="d-flex">
      
      <label class="text-muted d-flex mt-2"
        >{{ textContent.length }}/150</label
      >
      <button [disabled]="textContent.length <=0" (click)="addComment()" class="btn btn-success ms-auto mt-2"><i class="fa fa-plus"></i></button>
    </div>
   
    <div *ngFor="let comment of comments">
      <div *ngIf="post.author" class="onHovering row my-3 mx-2">
        <hr />
        <div class="col-2 col-lg-1 d-flex justify-content-center">
          <img class="photo me-2" src="{{ comment.commentedBy?.imgUrl || 'assets/user.png' }}" />
        </div>
        <div class="col-8 col-lg-9">
          <span class="smalltext my-0 py-0 d-flex align-items-top"
            ><strong
              >{{ comment.commentedBy?.firstName }} {{ comment.commentedBy?.lastName }}</strong
            >
            <span class="text-muted ms-2">@{{ comment.commentedBy?.userName }}</span>
            
            
          </span>
          <div class="midtext">
            <p *ngIf="comment.id !== isEditingStageId">{{ comment.content }}</p>
            <textarea class="form-control resize-none" [(ngModel)]="actuallyEditedComment" *ngIf="comment.id ===isEditingStageId" rows="2"></textarea>
            
          </div>
          
        </div>
        <div *ngIf="authorId.length>0 && authorId === comment.commentedBy?.id || ''" class="col-1 me-2">
          <button *ngIf="comment.id !==isEditingStageId" (click)="onEditComment(comment)" class="btn m-0 p-0 icon-button"><mat-icon class="text-info" aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon></button>
          <button *ngIf="comment.id ===isEditingStageId" (click)="onEditComment(comment)" class="btn m-0 p-0 icon-button"><mat-icon class="text-dark" aria-hidden="false" aria-label="Example cancel icon" fontIcon="cancel"></mat-icon></button>
          <button (click)="onDeleteComment(comment )" class="btn m-0 p-0 icon-button" ><mat-icon class="text-danger" aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon></button>
          <button *ngIf="comment.id ===isEditingStageId" (click)="editComment(comment )" class="btn m-0 p-0 icon-button" ><mat-icon class="text-success" aria-hidden="false" aria-label="Example check icon" fontIcon="check"></mat-icon></button>
        </div>
      </div>
      
    </div>
  </div>
</ng-template>