.btn-light {
  width: 100%;
  background-color: #f0f2f5 !important;
}
.btn-light:hover {
  background-color: #d9dee4 !important;
}
.resize-none {
  resize: none;
}
.photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.smalltext{
  font-size: 0.8rem!important
}
.midtext{
  font-size: 0.9rem!important
}
.icon-button {
  opacity: 0;
  transition: opacity 0.3s; 
}
.onHovering:hover .icon-button  {
  opacity: 1;
}

