.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#photo-upload{
  display: none;
}
.btn-gallery{
  background-color: white!important;
  color: rgb(255, 98, 0);
  box-shadow: none;
}

#post-preview{
  text-align: right;
  margin-top: 1em;
}
#post-preview-image{
  object-position: center;
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px dashed gray;
}
.rounded{
  border-radius: 50% !important;
  max-width: 150px;
  max-height:  150px;
}
.preview{
  border-radius: 1em;
  max-width: 150px !important;
  max-height: 150px !important;
}