
  
  <div *ngIf="selectedImageFile || isForUser" id="post-review" class="ms-auto d-flex justify-content-end mt-2">
    <img *ngIf="isForUser"  [src]="croppedImagePreview=='' ? currentImageUrl : croppedImagePreview"  class="rounded" id="post-preview-image">  
    <img *ngIf="!isForUser" class="preview" [src]="croppedImagePreview" id="post-preview-image">
  </div>
  <button class="btn btn-warning d-flex ms-auto me-auto " *ngIf="selectedImageFile && !isCropped" (click)="emitImage()">Crop</button>
<div >
  <image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="isForUser"
  [aspectRatio]="4/4"
  [resizeToWidth]="256"
  format="png"
  [hidden]="isHidden"
  
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded($event)"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>
</div>

<div class="ms-auto d-flex justify-content-end " [class.me-5]="isForUser">
  <button class="btn btn-gallery">
    <label for="photo-upload">
      <input id="photo-upload" #photoSelector (change)="fileChangeEvent($event)" type="file" accept="image/*" />
      <mat-icon>insert_photo</mat-icon>
      
    </label>
  </button>
</div>