<div (click)="openModal(template)" class="pos-relative d-flex justify-content-center justify-content-lg-end me-lg-4">
  <img class="photo me-2 image-overlay" src="{{ imgUrl }}" />
  <i class="position-abs fa fa-pencil"></i>
  
</div>

<ng-template #template>
 

  <div class=" modal-sm">
    <div class="modal-content">
      <div class="modal-header pb-0 mb-0">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Change photo</h4>
        <button type="button" class="btn-close close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <app-photo-upload (imageSelected)="changeImage($event)" [isForUser]="true"></app-photo-upload>
        </div>
        <div class="col-6 offset-3 d-flex btn-group">
          <button class="btn btn-warning"  (click)="hideModal()">Cancel</button>
          <button class="btn btn-success" [disabled]="!selectedImageFile" (click)="onSubmit()">Change</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>