<button (click)="openModal(template)" class="ms-2 circle ms-auto btn btn-warning my-3">
  <i class="fa fa-info "></i>
</button>

 
<ng-template #template>
 

  <div class=" modal-xl">
    <div class="modal-content">
      <div class="modal-header pb-0 mb-0">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Notification</h4>
        <button type="button" class="btn-close close pull-right" (click)="modalRef?.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-10 offset-1">
          <app-post [isFromNoti]="true" [post]="post"></app-post>
        </div>
      </div>
    </div>
  </div>
</ng-template>