<button
            (click)="toggleFollow()"
            [disabled]="isCurrentUser"
              class="btn   px-3  py-2" [class.btn-light]="!isFromUsersPage" [class.btn-info]="isFromUsersPage" [class.non-rounded]="isFromUsersPage" [class.me-1]="!isFromUsersPage" [class.btn-sm]="!isFromUsersPage"
            >
              <i *ngIf="isFollowedByCurrent" class="fa fa-heart mx-1" style="color: #ff0000;"></i>
              <i *ngIf="!isFollowedByCurrent" class="fa fa-heart mx-1"></i>
            </button>