.mt-6{
  margin-top:12rem;
}
h2{
  text-shadow: gray 1px 1px 4px; 
}
.ms-6{
  margin-left: 5rem;
}
.me-6{
  margin-right: 5rem;
}
.form{
  width: 20rem;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.fs-6{
  font-size: 0.8rem!important;
}