<div class="container-lg row mt-6 pt-0 pt-lg-5" *ngIf="loginForm.controls.emailOrUsername && loginForm.controls.password"  >
  <div class="col-12 col-lg-6 mt-lg-5">
    <h2 class="d-flex justify-content-center">
      <strong>Life is better with friends</strong>
    </h2>
    <h2 class="d-flex justify-content-center">
      <strong><span class="text-primary">Friendlify</span> knows it</strong>
    </h2>
  </div>
  <div class="col-8 offset-2 offset-lg-0 col-lg-6">
    <form
      class="form-control mt-3 mt-lg-0"
      [formGroup]="loginForm"
      (submit)="onSubmit()"
    >
    <div class="me-1">
      <app-form-input [control]="loginForm.controls.emailOrUsername" [iconName]="'fa fa-user me-2'" [label]="'Email or Username'" [placeholder]="'enter email or username'"></app-form-input>
      <app-form-input [iconName]="'fa fa-lock me-2'" [control]="loginForm.controls.password" [label]="'Password'" [type]="'password'" [placeholder]="'enter your password'"  ></app-form-input>
      <div class="d-grid  mt-3 mb-4">
        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="btn btn-block btn-primary "
        >
          Sign up
        </button>
      </div>
      <p class="text-center m-0">Don't have an account?</p>
      <div class="d-grid  mt-2">
        <button
          routerLink="register"
          type="submit"
          class="btn btn-block btn-outline-dark"
        >
          Sign in
        </button>
      </div>
    </div>
      
    </form>
  </div>
</div>
