.img-animation{
 
  object-fit: cover; 
}
.card {
  
  position: relative!important;
}
h5:hover{
  text-decoration: underline;
  cursor: pointer;
}
.card img {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
  cursor:pointer
}
