<div class="card mb-4 mx-lg-3 mx-1">
  <img
    src="{{ user.imgUrl || 'assets/user.png'}}"
    class="card-img-top img-animation"
    alt="user image"
  />
  <div class="card-body">
    <h5 (click)="redirectUser()" class="card-title text-center">
      {{ user.firstName }} {{ user.lastName }}
    </h5>
    <div class="text-center">
      <span class="text-muted">&#64;{{ user.userName }}</span>
      <span
        *ngIf="
          user.userName &&
          (presenceService.onlineUsers$ | async)?.includes(user.userName)
        "
        class="circle is-online"
        ><i class="fa fa-circle ms-2"></i
      ></span>
    </div>
    <hr />
    <p class="card-text mt-2">{{ user.bio || "no bio set yet" }}</p>
    <div class="btn-group d-flex">
      <button   (click)="redirectUser()" class="btn btn-info">
        <i class="fa fa-user"></i>
      </button>
      <button [disabled]="currentUserId == user.id" (click)="redirectMessages()" class="btn btn-info">
        <i class="fa fa-envelope"></i>
      </button>
      <app-follow
        
        [isCurrentUser]="isCurrentUser"
        [currentUserId]="currentUserId"
        [user]="user"
        [isFromUsersPage]="true"
      ></app-follow>
    </div>
  </div>
</div>
