<div class="container">
  <div class="col-lg-6 offset-lg-3 col-12 col-md-8 offset-md-2 mt-4">
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="image-container">
        <img (click)="redirect()" class="photo me-2" src="{{ viewedUser.imgUrl || 'assets/user.png' }}" />
        <span *ngIf="viewedUser.userName != undefined &&
        (presenceService.onlineUsers$ | async)?.includes(
          viewedUser.userName
        )" class="circle is-online"
        >
          <i class="fa fa-circle"></i
        ></span>
      </div>

      <span  (click)="redirect()" class="clickable"
        ><strong
          >{{ viewedUser.firstName }} {{ viewedUser.lastName }}</strong
        ></span
      >
    </div>
    <div id="message-area" #messageArea>
      <div *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
      </div>
    </div>
    <form class="form-control d-flex mb-3">
      <input
        [(ngModel)]="messageContent"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        class="form-control"
        placeholder="enter message here..."
      />
      <button (click)="sendMessage()" class="btn btn-info ms-2">
        <i class="fa fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>
