.photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.smalltext{
  font-size: 0.8rem;
}
.clickable{
  cursor:pointer;
}
span.clickable:hover{
  text-decoration:underline
}

.round{
  border-radius: 20%;
}
.midtext{
  font-size: 1rem;
}
@media (max-width: 768px) {
  .midtext {
    font-size: 0.8rem;
  }
}
