<div *ngIf="isHeadline" class="d-flex cursor-pointer" (click)="redirect()">
  <div class="image-container col-1">
    <img class="photo me-2" src="{{ viewedUser.imgUrl }}" />
    <span
      *ngIf="
        viewedUser.userName != undefined &&
        (presenceService.onlineUsers$ | async)?.includes(viewedUser.userName)
      "
      class="circle"
      [class.is-online]="
        viewedUser.userName != undefined &&
        (presenceService.onlineUsers$ | async)?.includes(viewedUser.userName)
      "
    >
      <i class="fa fa-circle"></i
    ></span>
  </div>
  <div class="col-10 ms-5">
    <h6>
      <strong>{{ viewedUser.firstName }} {{ viewedUser.lastName }}</strong>
    </h6>
    <div [class.fw-bold]="!message.read && message.sender?.id == viewedUser.id">
      <div class="d-flex justify-content-between">
        {{
          message.sender?.id == currentUser?.id
            ? "you:"
            : message.sender?.firstName + ":"
        }}
        {{ cropedContent }}<span *ngIf="message.read && message.senderId == currentUser?.id" class="text-end text-md"><i class="fa fa-eye"></i> seen</span>
        <span *ngIf="message.read ==false && message.senderId == currentUser?.id" class="text-end text-md"><i class="fa fa-check"></i> delivered</span>
      </div>

      <div class="text-end text-muted text-sm">{{ message.sendDate + "Z" | timeago }}</div>
    </div>
  </div>
</div>
<div *ngIf="!isHeadline" class="d-flex cursor-pointer">
  <div
    *ngIf="message?.sender?.id !== currentUser?.id"
    class="image-container col-1"
  >
    <img class="photo mb-3" src="{{ message.sender?.imgUrl || '' }}"  (click)="redirectToProfile()"/>
    <span
      *ngIf="
        message.sender?.userName != undefined &&
        (presenceService.onlineUsers$ | async)?.includes(
          message.sender?.userName!
        )
      "
      class="circle is-online"
    >
      <i class="fa fa-circle"></i
    ></span>
  </div>
  <div
    [class.text-end]="message.sender?.id === currentUser?.id"
    class="mx-4 mt-4 col-9 hovered"
  >
    <span class="date text-muted text-sm" *ngIf="message.sender?.id === currentUser?.id">{{message.sendDate +'Z' | date:'shortTime'}}</span>
    <span class="message-theme">{{ message.content }}</span>
    <span class=" date ms-2 text-muted text-sm" *ngIf="message.sender?.id !== currentUser?.id">{{message.sendDate +'Z'| date:'shortTime'}}</span>
  </div>
  <div
    *ngIf="message?.sender?.id === currentUser?.id"
    class="col-1 image-container"
  >
    <img class="photo mb-3" src="{{ message.sender?.imgUrl || '' }}" /><span
      *ngIf="
        message.sender?.userName != undefined &&
        (presenceService.onlineUsers$ | async)?.includes(
          message.sender?.userName!
        )
      "
      class="circle is-online"
    >
      <i class="fa fa-circle"></i
    ></span>
  </div>
</div>
<mat-divider class="mb-3 py-0" style="color: rgb(168, 168, 168)"></mat-divider>
