<div class="container-fluid">
  
  <div class="mt-5 d-flex justify-content-center col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4  btn-group">
    <input type="search" class="form-control text-center" placeholder="search for people you can know">
    <button class="btn btn-light"><i class="fa fa-search"></i></button>
  </div>
  <h1 class=" mt-4 text-center">users found: {{users.length}}</h1>
  <div class="mt-5 col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
    <div *ngFor="let user of users">
      <app-user [user]="user"></app-user>
    </div>
  </div>
</div>