
  <nav class="navbar navbar-expand-md bg-info" data-bs-theme="dark">
    <div class="container-fluid mx-4">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <a class="navbar-brand" routerLink="main">Friendify</a>
      
        
      
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-3">
            <a class="nav-link " routerLink="main" routerLinkActive="active"><mat-icon class="d-flex align-items-center justify-content-center" style="font-size: 1rem;" fontIcon="home"></mat-icon></a>
          </li>
          <li  class="nav-item mx-3">
            <a  class="nav-link" routerLink="notifications" routerLinkActive="active"><mat-icon [matBadgeHidden]="notificationsCount<1" [matBadge]="notificationsCount" matBadgeColor="warn" matBadgeSize="small" class="d-flex align-items-center justify-content-center" style="font-size: 1rem;" >notifications</mat-icon></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" routerLink="messages"  routerLinkActive="active"><mat-icon [matBadgeHidden]="messagesCount<1" [matBadge]="messagesCount" matBadgeColor="warn" matBadgeSize="small" class="d-flex align-items-center justify-content-start ms-1" style="font-size: 1rem;">messages</mat-icon></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" routerLink="users"  routerLinkActive="active"><mat-icon class="d-flex align-items-center justify-content-center" style="font-size: 1rem;" >people</mat-icon></a>
          </li>
        </ul>
        <span class="cursor-pointer ms-auto me-3 text-light dropdown" dropdown>
         
          <a class="text-light text-decoration-none dropdown-toggle" id="basic-link" dropdownToggle (click)="false"
             aria-controls="basic-link-dropdown"> <img class="photo me-2" src="{{imgUrl}}"> @{{userName}}</a>
             <div
             class="dropdown-menu bg-info dropdown-menu-left dropdownList"
             *dropdownMenu
           >
             <a (click)="redirect()" class="dropdown-item">my profile</a>
             <a (click)="logout()" class="dropdown-item">logout</a>
           </div>
        </span>
      </div>
      
        
      </div>
  
  </nav>