<div class="container mt-5 ">
  <div class="col-8 offset-md-2">
    <h1 class="text-center"><strong>Register</strong></h1>
    <form
        class="form-control my-3 "
        [formGroup]="registerForm"
        (submit)="onSubmit()"
      >
      <div class="me-1">
        <app-form-input [control]="registerForm.controls.firstname"  [label]="'First Name'" [placeholder]="'enter first name'"></app-form-input>
         <app-form-input [control]="registerForm.controls.lastname"  [label]="'Last Name'" [placeholder]="'enter last name'"></app-form-input>
          <app-form-input [control]="registerForm.controls.username"  [label]="'Username'" [placeholder]="'enter username'"></app-form-input>
        <app-form-input [control]="registerForm.controls.email"  [label]="'Email'" [placeholder]="'enter email'"></app-form-input>
        <app-form-input [control]="registerForm.controls.dateOfBirth" [label]="'Date of Birth'" [placeholder]="'choose your date of birth'" [isDatePicker]="true"  ></app-form-input>
        <app-form-input [control]="registerForm.controls.gender"  [label]="'Gender'" [type]="'radio'"   ></app-form-input>
        <app-form-input  [control]="registerForm.controls.password" [label]="'Password'" [type]="'password'" [placeholder]="'enter your password'"  ></app-form-input>
        <app-form-input  [control]="registerForm.controls.passwordConfirmation" [label]="'Confirm Password'" [type]="'password'" [placeholder]="'enter your password confirmation'"  ></app-form-input>
        <div class="d-grid  mt-3 mb-4">
          <button
            type="submit"
            [disabled]="!registerForm.valid"
            class="btn btn-block btn-primary "
          >
            Sign in
          </button>
        </div>
        <p class="text-center m-0">Already have an account?</p>
        <div class="d-grid  mt-2">
          <button
            routerLink=""
            type="submit"
            class="btn btn-block btn-outline-dark"
          >
            Sign up
          </button>
        </div>
      </div>
        
      </form>
  </div>
  
</div>