<div class="d-flex">
  <img class="photo me-2" src="{{ user.imgUrl }}" />
  <textarea
    (click)="openModal(template)"
    maxlength="0"
    rows="2"
    class="form-control resize-none"
    placeholder="Share your thoughts in new post..."
  ></textarea>
</div>

<ng-template #template>
  <mat-card>
    <mat-card-header class="me-auto d-block text-center justify-content-start mb-2">
      <h4>Create Post</h4>
    </mat-card-header>

    
    <textarea
      (ngModelChange)="checkCharCount()"
      [(ngModel)]="textContent"
      maxlength="500"
      rows="4"
      class="form-control resize-none"
      placeholder="Share your thoughts in new post..."
    ></textarea>
    <div class="d-flex">
      <div class="mb-2">
        <select
          [(ngModel)]="option"
          class="form-select form-select-sm"
          aria-label="Default select example"
        >
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          <option value="friends">Friends</option>
        </select>
      </div>
      <label class="text-muted d-flex ms-auto"
        >{{ textContent.length }}/500</label
      >
    </div>
    <app-photo-upload (imageSelected)="loadPhoto($event)"></app-photo-upload>
    <div class="row">
      <div class="d-flex">
        <button class="ms-auto me-1 btn btn-secondary mt-1" (click)="modalRef?.hide()">Cancel</button>
        <button [disabled]="textContent.length<1" class="btn btn-success mt-1" (click)="onSubmit()">Done</button>
      </div>
    </div>
  </mat-card>
</ng-template>
