
<div class="text-center mt-5">
  <div class="col-6 offset-3">
    <h1><strong>Forgot password</strong></h1>
    <p>Please enter your email where we'll send you mail to set up your new password</p>
    <form
        class="form-control mt-3"
        [formGroup]="forgetPasswordForm"
        (submit)="onSubmit()"
      >
      <div class="me-1">
        <app-form-input [control]="forgetPasswordForm.controls.email" [iconName]="'fa fa-envelope me-2'" [label]="'Email'" [placeholder]="'enter email'"></app-form-input>
        <app-form-input [control]="forgetPasswordForm.controls.password" [iconName]="'fa fa-lock me-2'" [label]="'Password'" [placeholder]="'enter password'" type="password"></app-form-input>
        <app-form-input [control]="forgetPasswordForm.controls.passwordConfirmation" [iconName]="'fa fa-lock me-2'" [label]="'Confirm Password'" [placeholder]="'enter password confirmation'" type="password"></app-form-input>
        <div class="d-grid  mt-3 mb-4">
          <button
          [disabled]="!forgetPasswordForm.valid"
            type="submit"
            [disabled]="!forgetPasswordForm.valid"
            class="btn btn-block btn-primary "
          >
            Send mail
          </button>
        </div>
        
      </div>
        
      </form>
  </div>
  
</div>