.photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.border-gray{
  border-color: rgb(156, 156, 156)!important;
}
.smalltext{
  font-size: 0.8rem!important
}
.midtext{
  font-size: 0.9rem!important
}
.smallpic{
  height: 20px;
  width: 20px;
  border-radius: 50px;
 
}

.photo2{
max-width: 100%;
max-height: 450px;

}
.btn-light{
  background-color: #f0f2f5!important
}
.btn-light:hover{
  background-color: #d9dee4!important
}
.clickable:hover{
  cursor: pointer;
}
.image-container {
  position: relative;
}
.circle {
  position: absolute;
  left: 45px;
  top: 35px;
  color: gray;
}

.is-online {
  color: rgb(1, 189, 42) !important;
}