<div *ngIf="post.author" class="row my-3">
  <hr />
  <div class="col-2 col-lg-1 d-flex justify-content-center">
    <img class="photo" src="{{ post.author.imgUrl }}" />
  </div>
  <div class="col-10 col-lg-11">
    <span class="smalltext my-0 py-0 d-flex align-items-top"
      ><strong
        >{{ post.author.firstName }} {{ post.author.lastName }}</strong
      >
      <span class="text-muted ms-2">@{{ post.author.userName }}</span>
    </span>
    <div class="midtext">
      <p>{{ post.textContent }}</p>
    </div>
    <div *ngIf="post.imgUrl">
      <img src="{{ post.imgUrl }}" class="photo2" />
    </div>
    <div class="d-flex mt-2">
      <div class="col-4"><app-like [belongToUser]="belongToUser" [post]="post" [count]="post.likesCount || 0" [isLiked]="isLiked"></app-like></div>
      <div class="col-4"><app-retweet></app-retweet></div>
      <div class="col-4"><app-comment [authorId]="user.id|| ''" [post]="post" [count]="post.commentsCount || 0"></app-comment></div>
    </div>
  </div>
</div>
